<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>错误界面</title>
		<meta http-equiv="refresh" content="5;url=./">
	</head>
	<body align="center">
		<div style="width: 56%;margin: 0 auto;">
			
			<header align="center" >
				<div align="left" >
					<a href="./">
						<img src="https://www.meigsmart.com/userfiles/images/2020/03/23/2020032311354713.png" style="width: 200px;" alt="上海·美格" />
					</a>
				</div>
				<div align="center">
					<h1>日报系统</h1>
					<p><time pubdate datetime="2021-07-19"></time></p>
				</div>
			</header>
			
			
			<div style="margin: 100px 0px 100px 0px;">
				
				
				<h4 style="color: red;">{mon} 失败！请重试，或者{}！</h4>
				<p>5 秒后自动跳转</p>
				
			</div>
			
			
			
			
			<footer align="center" >
			    <p>美格 · 测试</p>
				<p><dfn><abbr title="发布时间：2021-07-19">版本：v1.00</abbr><a href="./update.html">更新日志</a></dfn></p>
			    <p><time 发布日期时间="2021-07-19"></time></p>
			</footer>
			
		</div>
	</body>
</html>
